@charset "UTF-8";

.food{
  width: 100%;
  border: solid 1px #dedede;
  table-layout: fixed;
}
table{
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}
th{
  display: table-cell;
  background-color: #2244aa;
  padding: 10px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #dedede;
}
td{
  padding: 10px;
  border: solid 1px #dedede;
  vertical-align: middle;
}
td:first-child{
  background-color: #2244aa;
  color: white;
}
tr:nth-child(2n){
  background-color: #ecf1f2;
}
tr:nth-child(4){
  border-bottom:dashed #000 2px ;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
